body {
    background-color: #DDD4D2;
    color: #636363; 
}

/*Valintapalkki alkaa*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #636363;
  }
/*Valintapalkki päättyy*/

.column h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #1A1A1B;
}

.column {
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.column img {
    width: 100%;
    padding: 50px 0px 30px 0px;
}

.links {
    text-align: center;
    padding-bottom: 30px;
}

/*Ikonit*/
.fa {
    padding: 25px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Facebook */
  .fa-facebook {
    background: #636363;
    color: white;
    border-radius: 10px;
  }
  
  /* Instagram */
  .fa-instagram {
    background:#636363;
    color: white;
    border-radius: 10px;
  }

   /* Linkedin */
  .fa-linkedin {
    background-color:#636363;
    color: white;
    border-radius: 10px;
  }


.footer p{
    background-color: #636363;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: "Raleway", sans-serif;
}

/*Palstojen asettelu eri kokoisilla näytöillä*/
@media only screen and (min-width: 700px) {
    .column h1 {
        font-size: 50px;
    }

    .column p {
        width: 75%;
        /*padding-top: 25px;*/
        margin: auto;
        text-align: center;
    }
}

@media only screen and (min-width: 1025px) {
    .column h1 {
        font-size: 40px;
    }

    .column img {
        padding-top: 70px;
    }

    .column p {
        width: 75%;
        /*padding-top: 25px;*/
        margin: auto;
        text-align: center;
        /*font-size: 25px*/
    }

    .column {
        float: left;
        width: 45%;
        padding-right: 5%;
      }
      

    .row:after {
        content: "";
        display: table;
        clear: both;
      }
}

@media only screen and (min-width: 1201px) {
    .column h1 {
        font-size: 55px;
    }

    .column p {
        width: 75%;
        /*padding-top: 25px;*/
        margin: auto;
        text-align: center;
        /*font-size: 25px*/
    }
}

/*CV-sivu*/
.cvheader {
    color: #1A1A1B;
    padding-bottom: 20px;
    text-align: center;
}

.circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: #fff;
    text-align: center;
    background: #636363;
}

.circles-parent {
    text-align:center;
    padding-bottom: 20px;
}

.circle { 
    background:#636363; 
    border-radius:50%; 
    display:inline-block; 
    margin:0 15px; 
}

.workhistory {
    width: 80%;
    margin: auto;
    font-size: 20px;
    text-align: left;
    font-family: "Raleway", sans-serif;
}

.workhistory h3 {
    color: #1A1A1B;
    font-family: 'Times New Roman', Times, serif;
}
.workhistory p {
    padding-bottom: 20px;
}

/*Yhteydenottolomake*/
.header h2 {
    color: #1A1A1B;
    font-size: 40px;
    padding: 20px;
    padding-bottom: 0px;
}

.lomake {
    padding: 20px;
    font-family: "Raleway", sans-serif;
    
    input[type=text], textarea{
        width: 100%;
        padding: 12px;
        border: 1px solid;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        font-family: "Raleway", sans-serif;
        border-radius: 4px;
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    input[type=submit] {
        background-color: #636363;
        color: white;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #1A1A1B;
    }
}

.puhelinnumero {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: "Raleway", sans-serif;
}

.email {
    font-family: "Raleway", sans-serif;
    padding-left: 20px;
}

.material-icons {
    vertical-align: middle;
    color: #1A1A1B;
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap')